@charset "UTF-8";

section#conteudo {
    width: 1000px;
    margin: auto;
}
iframe#framespec {
    width: 430px;
    height: 300px;
    border: none;
    overflow: hidden;
}
iframe#framespec::-webkit-scrollbar {
    display:none;}